.pvt-digital-queue {
    &__time-slices {
        @include display-column();
        &-wrapper {
            width: 90%;
            max-width: 700px;
            margin: 20px auto 20px;
        }
    }

    &__time-slice {
        width: 100%;
        height: auto;
        margin: 0;
        @include display-row();
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &.attended {
            opacity: 0.45;
        }

        &.panel-open {
            .pvt-digital-queue__time-slice__panel {
                @include transform(translateX(0));
            }
        }

        &__art {
            @include display-column();
            justify-content: center;
            align-items: center;
            width: 80%;
            height: auto;
            margin: 0;
            border: 2px solid #000000;
            border-radius: 3px;
            min-height: 50px;
            box-sizing: border-box;
            padding: 10px;
            position: relative;
            overflow: hidden;
        }

        &__panel {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 15px;
            background: #ffffff;
            @include display-row();
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            @include transform(translateX(100%));
            @include transition('transform 0.35s ease-in-out');
            z-index: 11;
        }

        &__close-panel {
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 50%;
            border: 3px solid #000;
            padding: 0;
            font-size: 0;
            margin: 0;
            box-sizing: border-box;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                @include transform(translate(-50%,-40%));
                width: 3px;
                height: 15px;
                background: #000;
            }
        }

        &__attend-time-slice-user {
            display: block;
            font-size: 0;
            width: 65px;
            height: 35px;
            margin: 0;
            padding: 3px 5px;
            background: rgba($color: #717274, $alpha: 0.9);
            box-sizing: border-box;
            border: 1px solid #000;
            border-radius: 50px;
            @include display-row;
            justify-content: space-between;
            align-items: center;


            &::before {
                content: "";
                width: 25px;
                height: 25px;
                display: block;
                background: #ffffff;
                border: none;
                border-radius: 50%;
            }

            &::after {
                content: "OFF";
                font-family: $defaultFont;
                font-size: 13px;
                text-transform: none;
                font-weight: 700;
                color: #3a3b3d;
            }

            &[checked="checked"] {
                @include display-row-reverse();
                background: #0c9a46;
                
                &::after {
                    content: "ON";
                }
            }
        }

        &__remove-time-slice-user {
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 50%;
            padding: 0;
            font-size: 0;
            margin: 0;
            box-sizing: border-box;
            border: 2px solid #f00;
            cursor: pointer;

            &::after,
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 75%;
                height: 2px;
                background: #f00;
            }

            &::before {
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%) rotate(-45deg));
            }

            &::after {
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%) rotate(45deg));
            }
        }

        &__label {
            @include display-column();
            justify-content: center;
            align-items: flex-end;
            width: 20%;
            height: auto;
        }

        &__user-name {
            font-family: $defaultFont;
            font-size: 12px;
            text-transform: none;
            font-weight: 400;
            color: #000;
            text-align: center;
            line-height: 25px;

            @include mqmin($tabletM) {
                font-size: 14px;
            }
        }

        &__time {
            font-family: $defaultFont;
            font-size: 13px;
            text-transform: none;
            font-weight: 400;
            color: #000;
            text-align: center;
            line-height: 25px;

            @include mqmin($tabletM) {
                font-size: 18px;
            }
        }
    }
}
