div(class="placeloader-page__wrapper is--visible", id="js--page-loader")
    div(class="placeloader-page")
        div
        div
        div
        div
        div
        div
        div
        div