section(class="queue__actions")
    div(class="js--queue-id", style="display: none !important;")
        <server.queueId/>
    div(class="queue__time-slices-wrapper")
        ul(class="queue__time-slices" class="js--queue-time-slices")