section(class="page__intro")
    h1(class="page__title") Filas
section(class="admin__actions")
    div(class="queues")
        ul(class="queues__list js--queues-list")
        div(class="queues__actions")
            button(class="queues__previous-page js--previous-page reset") Anterior
            p(class="queues__page-display js--page-display")
            button(class="queues__next-page js--next-page reset") Próximo
