section(id="js--register-lightbox", class="queue__register-lightbox-wrapper")
    div(class="queue__register-lightbox")
        div(class="queue__register-lightbox__header")
            div(class="queue__register-lightbox__close-btn-wrapper")
                button(class="queue__register-lightbox__close-btn reset", id="js--close-register-lightbox") Close lightbox
        form(id="js--queue-register-form", class="queue__register-lightbox__form")
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-name") Nome
                input(type="text", id="js--user-name", class="reset", required="required", autocomplete="off", maxlength="100")
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-email") Email
                input(type="email", id="js--user-email", class="reset", required="required", autocomplete="off", maxlength="100")
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-telephone") Telefone
                input(type="text", id="js--user-telephone", class="reset", required="required", autocomplete="off", maxlength="30")
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-documentType") Tipo de Documento
                select(id="js--user-documentType", required="required", autocomplete="off")
                    option(value="", data-mask="", data-replace-regex="\\D") Selecione um tipo de documento
                    option(value="cpf", data-mask="000.000.000-00", data-replace-regex="\\D") CPF
                    option(value="rg", data-mask="00.000.000-0", data-replace-regex="\\D") RG
                    option(value="birth-document", data-mask="", data-replace-regex="\\D") Certidão de Nascimento
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-document") Documento
                input(type="text", id="js--user-document", class="reset", required="required", autocomplete="off", maxlength="50")
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-nationality") Nacionalidade
                input(type="text", id="js--user-nationality", class="reset", required="required", autocomplete="off", maxlength="75")
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-transport") Tipo de Transporte
                select(id="js--user-transport", required="required", autocomplete="off")
                    option(value="") Selecione um tipo de transporte
            div(class="queue__register-lightbox__form-field")
                label(for="js--user-appointment", class="queue__register-lightbox__user-appointment-label") Horário Atendimento
                input(type="text", id="js--user-appointment", class="queue__register-lightbox__user-appointment reset", required="required", autocomplete="off")
            div(class="queue__register-lightbox__form-field column-center")
                button(type="submit", id="register-user-button", class="reset") Registrar
