section(class="pub-digital-queue__actions")
    div(id="js--digital-queue-id", style="display: none !important;")
        <server.digitalQueueId/>
    div(class="pub-digital-queue__time-slices-wrapper")
        ul(class="pub-digital-queue__time-slices", id="js--digital-queue-time-slices")
