section(class="queue__actions")
    div(id="js--queue-id", style="display: none !important;")
        <server.digitalQueueId/>
    div(class="queue__time-slices-wrapper")
        ul(class="queue__time-slices", id="js--queue-time-slices")
