extends ./_configbase.pug


//- Template variables
block append vars
    - var $templateName = "admin"
    - var $templateClass = "admin"


//- Page styles
block append styles
    link(rel="stylesheet", href=`/css/${$templateName}.css`)/


//- Main Content
block append content
    include ./partials/admin/queues.pug

//- Page scripts
block append scripts
    script(src=`/js/${$templateName}.js`)