<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="description" content="Digital queue software"/>
        <meta name="keywords" content="Queue, software"/>
        <title>Digital queue software</title>

        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/global.css"/>
        <link rel="stylesheet" href="/css/home.css"/>
    </head>
    <body>

        <div class="app">
            <div class="app__general">
                <main class="app__main">
                    <section>
                        <form class="login-form js--login-form">
                            <div class="login-form__field">
                                <label for="js--email">
                                    <p>Email</p>
                                </label>
                                <input type="email" id="js--email" autocomplete="off" required="required"/>
                            </div>
                            <div class="login-form__field label-row">
                                <label for="js--password">
                                    <p>Senha</p>
                                </label>
                                <input type="password" id="js--password" autocomplete="off" required="required"/>
                            </div>
                            <div class="login-form__field field-row-center">
                                <button class="reset" id="login-btn">Login</button>
                            </div>
                        </form>
                    </section>
                    <section class="section-row-between">
                        <button class="reset forget-password js--forget-password">Esqueceu sua senha?</button>
                    </section>
                </main>
            </div>
        </div>



        <script src="/js/home.js"></script>
    </body>
</html>