extends ./_pvt-config-base.pug


//- Template variables
block append vars
    - var $templateName = "pvt-register"
    - var $templateClass = "pvt-register"


//- Page styles
block append styles
    link(rel="stylesheet", href=`/css/${$templateName}.css`)/


//- Main Content
block append content
    include ./partials/pvt/register/form.pug

//- Page scripts
block append scripts
    script(src=`/js/${$templateName}.js`)