extends ./_configbase.pug


//- Template variables
block append vars
    - var $templateName = "pvt-digital-queue"
    - var $templateClass = "pub-digital-queue pvt-digital-queue"


//- Page styles
block append styles
    link(rel="stylesheet", href=`/css/${$templateName}.css`)/


//- Main Content
block append content
    include ./partials/pvt/digital-queue/intro.pug
    include ./partials/pvt/digital-queue/time-slices.pug
    include ./partials/pvt/digital-queue/register-lightbox.pug

//- Page scripts
block append scripts
    script(src=`/js/${$templateName}.js`)