section(class="pvt-admin__digital-queues default")
    ul(class="pvt-admin__digital-queues__list js--queues-list")
    div(class="pvt-admin__digital-queues__actions")
        button(class="pvt-admin__digital-queues__previous-page js--previous-page reset") Anterior
        p(class="pvt-admin__digital-queues__page-display js--page-display")
        button(class="pvt-admin__digital-queues__next-page js--next-page reset") Próximo
