.pvt-admin {
    &__digital-queues {
        &__list {
            width: 90%;
            height: auto;
            margin: 0 auto;
            @include display-column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__item {
            width: 100%;
            height: auto;
            @include display-column;
            justify-content: center;
            align-items: center;
            margin: 20px 0 0;
            box-sizing: border-box;
            padding: 15px;
            position: relative;
            overflow: hidden;
            border: 1px solid #000;

            &.panel-open {
                .pvt-admin__digital-queues__item-panel-actions {
                    @include transform(translateX(0));
                }

                .pvt-admin__digital-queues__item-open-panel-button {
                    pointer-events: none;
                    opacity: 0.4;
                }
            }

            &-visor {
                width: 100%;
                height: auto;
                @include display-row;
                justify-content: flex-start;
                align-items: center;
                z-index: 10;

                > p {
                    font-family: $defaultFont;
                    font-size: 16px;
                    text-transform: none;
                    font-weight: 400;
                    color: #000;
                    margin: 0 5px;
                    @include mqmax($mobileG) {
                        font-size: 13px;
                    }
                }

                > a {
                    font-family: $defaultFont;
                    font-size: 13px;
                    text-decoration: underline;
                    text-transform: none;
                    font-weight: 400;
                    color: #000;
                    margin: 0 5px;
                    @include mqmax($mobileG) {
                        font-size: 11px;
                    }
                }
            }

            &-open-panel-button {
                
            }


            &-panel {
                width: 100%;
                height: auto;
                @include display-column;
                justify-content: center;
                align-items: center;
                margin: 15px 0 0;

                &-actions {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 15px;
                    background: #ffffff;
                    @include display-row();
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include transform(translateX(100%));
                    @include transition('transform 0.35s ease-in-out');
                    z-index: 11;
                }
            }

            &-close-panel-button {
                
            }

            &-edit-digital-queue-button {

            }

            &-delete-digital-queue-button {
                position: relative;
                display: block;
                width: 30px;
                height: 30px;
                background: #fff;
                border-radius: 50%;
                padding: 0;
                font-size: 0;
                margin: 0;
                box-sizing: border-box;
                border: 2px solid #f00;
                cursor: pointer;
                @include mqmin($desktopPP) {
                    display: none;
                }

                &::after,
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 75%;
                    height: 2px;
                    background: #f00;
                }

                &::before {
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%) rotate(-45deg));
                }

                &::after {
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%) rotate(45deg));
                }
            }
        }

        &__actions {
            width: 100%;
            height: auto;
            @include display-row;
            justify-content: center;
            align-items: center;
            margin: 20px 0 0;

            button {
                display: block;
                margin: 0 20px;
                padding: 0;
                border: none;
                border-radius: 0;
                background: transparent;
                cursor: pointer;
                font-size: 0;
                padding: 3px 14px;
            }
        }

        &__previous-page {
            &::after {
                content: "<";
            }
        }

        &__next-page {
            &::after {
                content: ">";
            }
        }

        &__previous-page,
        &__next-page {
            &::after {
                display: block;
                font-family: $defaultFont;
                font-size: 28px;
                text-transform: none;
                font-weight: 400;
                color: #000;
            }

            &.is-blurred {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        &__page-display {
            font-family: $defaultFont;
            font-size: 14px;
            text-transform: none;
            font-weight: 400;
            color: #000;
        }
    }
}
