section(class="pvt-admin__queues default")
    ul(class="pvt-admin__queues__list js--queues-list")
    div(class="pvt-admin__queues__actions")
        button(class="pvt-admin__queues__previous-page js--previous-page reset") Anterior
        p(class="pvt-admin__queues__page-display js--page-display")
        button(class="pvt-admin__queues__next-page js--next-page reset") Próximo
