header(class="app__header")
    button(type="button", id="js--open-menu", class="app__header__open-menu") Abrir menu
        span
        span
        span
    nav(id="js--navigation-menu", class="navigation-menu")
        div(class="navigation-menu__start")
            button(id="js--close-menu", class="app__header__close-menu") Fechar menu
        ul(class="navigation-menu__links")
            li(class="navigation-menu__links-item")
                a(href="/admin") Home
            li(class="navigation-menu__links-item")
                a(href="/admin/criar-fila-digital") Criar fila digital
            li(class="navigation-menu__links-item")
                a(href="/admin/filas") Filas digitais
            li(class="navigation-menu__links-item")
                a(href="/admin/register") Registrar usuário
        div(class="navigation-menu__end")
            button(type="button", id="js--logout", class="app__header__logout") Sair
