section(class="pub-login__form-wrapper")
    form(id="js--login-form", class="pub-login__form")
        div(class="pub-login__form-field")
            label(for="js--email")
                p Email
            input(type="email", id="js--email", autocomplete="off", required="required")
        div(class="pub-login__form-field label-row")
            label(for="js--password")
                p Senha
            input(type="password", id="js--password", autocomplete="off", required="required")
        div(class="pub-login__form-field row-center")
            button(class="reset", id="login-btn") Login
    div(class="pub-login__form-footer")
        button(id="js--forget-password", class="reset forget-password") Esqueceu sua senha?