section(class="pvt-create-digital-queue__form-wrapper default")
    form(class="pvt-create-digital-queue__form", id="js--create-digital-queue-form")
        div(class="pvt-create-digital-queue__form-field")
            label(for="js--digital-queue-name") Nome
            input(type="text", id="js--digital-queue-name", class="reset", required="required", autocomplete="off", maxlength="100")
            p(class="pvt-create-digital-queue__form-field-tip") * Apenas os seguintes caracteres são permitidos: 0-9,a-z(alfabeto americano) maiúsculo e minúsculo,-
        div(class="pvt-create-digital-queue__form-field")
            label(for="js--digital-queue-id") URL
            div(class="digital-queue-id-art")
                p /filas/
                input(type="text", id="js--digital-queue-id", class="reset digital-queue-id", required="required", autocomplete="off", maxlength="100")
            p(class="pvt-create-digital-queue__form-field-tip") * Não preencha a url manualmente, escolha apenas o nome!!
        div(class="pvt-create-digital-queue__form-field row")
            label(for="js--digital-queue-isActive") Está ativa?
            input(type="checkbox", id="js--digital-queue-isActive", class="reset digital-queue-isActive", autocomplete="off")
        div(class="pvt-create-digital-queue__form-field")
            label(for="js--digital-queue-day") Dia
            input(type="date", id="js--digital-queue-day", required="required", autocomplete="off")
            p(class="pvt-create-digital-queue__form-field-tip") * Dia de referência da fila (apenas presente ou futuro)
        div(class="pvt-create-digital-queue__form-field")
            label(for="js--digital-queue-start") Horário início
            input(type="text", id="js--digital-queue-start", class="reset", required="required", autocomplete="off", maxlength="5", placeholder="09:00")
            p(class="pvt-create-digital-queue__form-field-tip") * Dê preferência para valores exatos. Ex: 09:00, 09:05, 18:30
        div(class="pvt-create-digital-queue__form-field")
            label(for="js--digital-queue-end") Horário término
            input(type="text", id="js--digital-queue-end", class="reset", required="required", autocomplete="off", maxlength="5", placeholder="18:00")
            p(class="pvt-create-digital-queue__form-field-tip") * Dê preferência para valores exatos. Ex: 17:00, 18:30, 19:05
        div(class="pvt-create-digital-queue__form-field")
            label(for="js--digital-queue-userTimeMinutes") Tempo atendimento (min)
            input(type="number", id="js--digital-queue-userTimeMinutes", class="reset", required="required", autocomplete="off", min="1")
        div(class="pvt-create-digital-queue__form-field")
            label Transports permitidos
            ul(class="pvt-create-digital-queue__form-transports", id="js--digital-queue-transports-list")
        div(class="pvt-create-digital-queue__form-field row-center")
            button(type="submit", class="reset", id="send-form-btn") Criar
