$defaultFont: 'Lato', sans-serif;

$mobileP: 320px;
$mobileM: 360px;
$mobileG: 450px;

$tabletP: 650px;
$tabletM: 768px;
$tabletG: 1024px;

$desktopP: 1280px;
$desktopM: 1440px;
$desktopG: 1920px;

$overlayZindex: 100;
$pageLoaderZindex: 500;
