{
    "presets": ["@babel/preset-env", "minify"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@ServerConstants": "./src/constants",
                    "@ServerEndpoints": "./src/endpoints",
                    "@ServerHandlers": "./src/handlers",
                    "@ServerModules": "./src/modules",
                    "@ServerServices": "./src/services",
                    "@ServerUtils": "./src/utils",
                    "@ServerRoutes": "./src/routes.js"
                }
            }
        ]
    ]
}
