{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "entry",
            "corejs": "2"
        }],
        ["minify", {
            "builtIns": false
        }]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@ServerConstants": "./src/constants",
                    "@ServerEndpoints": "./src/endpoints",
                    "@ServerGlobals": "./src/globals",
                    "@ServerHandlers": "./src/handlers",
                    "@ServerModules": "./src/modules",
                    "@ServerServices": "./src/services",
                    "@ServerUtils": "./src/utils",
                    "@ServerRoutes": "./src/routes",

                    "@WebsiteGlobal": "./website/js/modules/global",
                    "@WebsiteConstants": "./website/js/constants",
                    "@WebsiteUtils": "./website/js/utils"
                }
            }
        ]
    ]
}